<?xml version="1.0" encoding="utf-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>resume</servlet-name>
		<jsp-file>/pages/resume.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>resume</servlet-name>
		<url-pattern>/resume</url-pattern>
	</servlet-mapping>
  
  	<servlet>
		<servlet-name>about</servlet-name>
		<jsp-file>/pages/about.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>about</servlet-name>
		<url-pattern>/about</url-pattern>
	</servlet-mapping>
  
  	<servlet-mapping>
		<servlet-name>about</servlet-name>
		<url-pattern>/letter</url-pattern>
	</servlet-mapping>
  
  	<servlet>
		<servlet-name>contact</servlet-name>
		<jsp-file>/pages/contact.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>contact</servlet-name>
		<url-pattern>/contact</url-pattern>
	</servlet-mapping>
  
  	<servlet>
		<servlet-name>main</servlet-name>
		<jsp-file>/pages/main.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>main</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
  
	<servlet>
		<servlet-name>projects</servlet-name>
		<jsp-file>/pages/projects.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>projects</servlet-name>
		<url-pattern>/projects</url-pattern>
	</servlet-mapping>
	
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>pages/main.jsp</welcome-file>
  </welcome-file-list>
</web-app>

