body.about {
	font-family: Helvetica;	
}

div.letter {
	width: 40%;
	min-width: 500px;

	font-family: "Times New Roman";
	text-align: left;
	
}

p.letter {
	text-indent: 25px;
	text-align: justify;
			
}