#menuList{
	height: 100%;
	width: 100%;
	margin:0;
	padding: 0;
	list-style: none;
}

#menuList li{
	float: left;
	height: 100%;
	font-weight: bold;
	text-shadow: 0px 1px 1px white;	
	width: 18%;
	text-align: center;
	position: relative;
	list-style: none;
}

#menuList li span{
	position: absolute;
	left: 0;
	width: 100%;
	
}

#menuList li:hover{
	cursor: pointer;
}

#menuList li.selected, #menuList li:hover, #projectList li.selected{
	color: white;
	text-shadow: 0px 1px 1px black;	
}

#menuList li:first-child{
	border-top-left-radius: 10px;
}
#menuList li:last-child{
	border-top-right-radius: 10px;
}

#homeBox{
	background-image: linear-gradient(top, #B3B3B3 0%, #5E5E5E 100%);
}
#homeBox.selected{
	background-image: linear-gradient(bottom, #B3B3B3 0%, #5E5E5E 100%);
}

#letterBox {
	background-image: linear-gradient(top, #FF4F4F 0%, #B50D07 100%);
}
#letterBox.selected {
	background-image: linear-gradient(bottom, #FF4F4F 0%, #B50D07 100%);
}

#resumeBox{
	background-image: linear-gradient(top, #8A99FF 0%, #1424B5 100%);
}
#resumeBox.selected{
	background-image: linear-gradient(bottom, #8A99FF 0%, #1424B5 100%);
}


#contactBox{
	background-image: linear-gradient(top, #8DE38F 0%, #164F05 100%);
}
#contactBox.selected{
	background-image: linear-gradient(bottom, #8DE38F 0%, #164F05 100%);
}

#projectsBox{
	background-image: linear-gradient(top, #FFEA29 0%, #E8A51E 100%);
}
#projectsBox.selected{
	background-image: linear-gradient(bottom, #FFEA29 0%, #E8A51E 100%);
}

.project{
	background-image: linear-gradient(top, #FFEA29 0%, #E8A51E 100%);
}
.project.reverse{
	background-image: linear-gradient(bottom, #FFEA29 0%, #E8A51E 100%);
}

